<h3>Dashboard</h3>

<h4>Income</h4>

<p>{{this.recurring_expense_name}}</p>

<button id="button">Button</button>

{{!-- scripts --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/js/index.js"></script>