<h1> Project 2</h1>
<div class="row">

    <div class="input-field col s12">
        <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Recurring Income</option>
            <option value="2">Static Income</option>
        </select>
        <label>Income Type</label>
    </div>
</div>