<h3>Day Job</h3>

<div class="row">
    <div class="input-field col s6">
        <select id="employmentStatus">
            <option value="" disabled selected>Choose your option</option>
            <option id="1" value="1">Yes</option>
            <option id="2" value="2">No</option>
        </select>
        <label>Are you employed?</label>
    </div>
</div>

<div class="row">
    <div id="paidHourly" class="input-field col s6 hidden">
        <select id="paidHourlyChoice">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
        </select>
        <label>Are you paid hourly?</label>
    </div>
</div>

<div id="payAmmountContainer" class="row">
</div>