<div class="row center-align">
<h3>Static Income</h3>

<div class="row">
    <div class="input-field col s6">
        <input id="statIncName" placeholder="eg: Bonus" type="text" class="validate">
        <label for="stat_inc_name">What is the name of this static income?</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s6">
        <input id="statIncAmount" placeholder="eg: 300" type="text" class="validate">
        <label for="stat_inc_name">Ammount?</label>
    </div>
</div>

<div class="row center-align">
    <div  class="input-field col s6">
        <select id="statIncDate">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        <label>What day of the month does this static income take place?</label>
    </div>
</div>

<button id="submitBtn" class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
</button>
</div>


{{!-- scripts --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/js/staticIncome.js"></script>